* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
#home {
  /* float: left; */
  font-size: 24px;

  cursor: pointer;
}

#pic {
  width: 100%;
  /* min-height: 0px; */
  height: 600px;
  background-repeat: no-repeat;
}
#aboutme {
  margin-top: -200px;
  padding: 20px;
}
footer {
  height: 80px;
  width: 100%;
  background-color: black;
  padding: 20px;
  bottom: 0;
  position: relative;
  text-align: center;
}

#nam {
  margin-left: 380px;
}
#na {
  margin-left: 500px;
}
#name {
  margin-left: 340px;
}

/* skill */

#tech {
  margin-left: 10px;

  font-size: 30px;

  background-color: blue;
  color: white;
}

.progress {
  width: 40%;
  border-radius: 16px !important;
  margin-bottom: 10px;
  margin-left: 40px;
}
.progress-bar {
  width: 40%;
  border-radius: 16px;
  background: blue !important;
}
.skills-bar {
  margin-bottom: 6px;
  margin-left: 40px;

  display: flex;
  flex-direction: row;
}
#skill_1 {
  width: 50%;
  flex: 1;
}

#skill_2 {
  float: 1;
  width: 50%;
}

/* education */

#tab,
table {
  width: 100%;

  text-align: center;

  padding: 30px;
}

/* projec */

.proj {
  font-size: 20px;
  margin-left: 40px;
  padding: 20px;
}

/* Achievements */
.achiev {
  font-size: 20px;
  margin-left: 40px;
  padding: 20px;
}

#list {
  margin-left: 50px;
}
